Source: sourcemgr
Section: devel
Priority: optional
Maintainer: Matthias Urlichs <smurf@smurf.noris.de>
Build-Depends: debhelper (>> 3.0.0), python3 (>= 3.6)
Standards-Version: 3.6.1

Package: sourcemgr
Architecture: all
Depends: devscripts (>> 2.7.92.1), dput, git, lintian, ${python3:Depends},
  python3 (>= 3.6),
  python3-click,
  python3-semantic-version,
Recommends: shlock
Description: Source management speed-up commands
 Some of my personal workflow scripts.
